<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.googlemap_test">



    <!--사용자에게 위치정보 사용할것인지 물어봄-->
    <uses-permission android:name ="android.permission.ACCESS_FINE_LOCATION"/>



    <!--화면에 전체화면으로 구글맵 켜준다 backup은 임의로 false로 해놨는데 필요하면 true로 고칠것-->
    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>

        <!--API키 나중에 바꿔야되면 상황맞게 바꾸면됭-->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAPIbXxkW8tV59kGtwhXnfY2Q-Qcj0iEOY"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>